@model TaskManager.Models.ProjectModel

@{
    ViewData["Title"] = "Create";
}

<div class="center-container font-style" style="margin: 100px 0 0 0">
    <div class="">
        <div class="row">
            <div class="col-12 text-center" style="opacity: 0.6">
                <h2 class="text-black py-2">Create</h2>
            </div>
        </div>
    </div>
    <div class="join_form-container p-1">
        <form asp-action="CreateProject">
            <div class="border p-3 mt-4" style="border-radius: 15px; display: flex; align-items: center; flex-direction: column">
                <input type="hidden" asp-for="CreatorName" value="@Model.CreatorName" />
                
                <div class="form-floating mb-3" style="width: 100%">
                    <input asp-for="ProjectName" class="form-control border" />
                    <label asp-for="ProjectName" class="ms-2" style="opacity:0.4">Название</label>
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3" style="width: 100%">
                    <input asp-for="ProjectPassword" class="form-control border" />
                    <label asp-for="ProjectPassword" class="ms-2" style="opacity:0.4">Пароль</label>
                    <span asp-validation-for="ProjectPassword" class="text-danger"></span>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin-top: 30px">
                    <input type="submit" value="Создать" class="btn btn-primary transparent-button shiny-button-join" style="width: 49%" />
                    <a asp-action="Index" class="btn btn-outline-primary transparent-button shiny-button2-join" style="width: 49%">Вернуться к списку</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
